<header class="site-header">

  <div class="jumbotron">

    <h1>{{ site.title }}</h1>
    <p>We provide you the source code of the solvers which made the history of SAT</p>
  </div>
  

    <nav class="navbar navbar-default">
  
      <ul class="nav navbar-nav">
        <li><a class="site-title" href="{{ site.baseurl }}/">Home</a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  

</header>
